<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Productos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body class="container" style="margin-top: 50px;">
<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Regresar</a></li>
  <li class="breadcrumb-item"><a href="view1">Canciones</a></li>
  <li class="breadcrumb-item"><a href="view2">Usuarios</a></li>
  <li class="breadcrumb-item active">Roles</li>
  
</ul>


    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <a href="/" class="btn btn-default">Regresar</a>
                <li class="nav-pill active">
                    <a class="nav-link">Informacion</a>
                </li>

            </ul>
        </div>
        <div class="card-body">

            <% if(view3.length) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Cuenta</th>
                            <th scope="col">Pago</th>
	                     
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i< view3.length; i++) { %>
                            <tr>
                                <!--<th scope="row"><%= (i+1) %></th>-->
                                <td>
                                    <%= view3[i].id%>
                                </td>
                                <td>
                                    <%= view3[i].name_user%>
                                </td>
                                <td>
                                    <%= view3[i].nombre%>
                                </td>
                                <td>
                                    <%= view3[i].num_pago%>
                                </td>
				
                                <!--<td>
                        <a class="btn btn-success edit" href="../spotify/edit/<%=view3[i].id%>">Edit</a>
                        <a class="btn btn-danger delete" onclick="return alert('Are You sure?')" href="../spotify/delete/<%=view3[i].id%>">Delete</a>
                    </td>-->
                            </tr>
                            <% } %>
                    </tbody>
                </table>

                <% } %>

                    <!-- if result is empty -->
                    <% if(!view3.length) { %>
                        <p class="text-center">No se encontraron resultados!</p>
                        <% } %>

        </div>
    </div>
</div>

</body>

</html>